@font-face{
    font-family: IRSans;
    src: url(../fonts/IRANSansWeb\(FaNum\).ttf);
}
@font-face{
    font-family:Leyla;
    src: url(../fonts/leyla.ttf);
}

body{
    direction: rtl;
    font-family: IRSans;
    overflow:visible !important;
}

ul{
    padding: 0;/*important*/
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ create.blade.php @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/* ------------------------------------for form margin----------------------------------------- */
.form-parent{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #ffffff;
    padding: 50px 0px 50px 0px;
    /* border: thin solid #869791; */
    box-shadow: 5px 5px 19px 0px #c2c2c2;
}
/*-------------------------------image checkbox--------------------------------*/
ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

/*input[type="checkbox"][id^="myCheckbox"] {*/
/*    display: none;*/
/*}*/
.image-checkbox{
    display: none;
}

label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked + label {
    border-color: #ddd;
}

:checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

:checked + label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}

/*-------------------------------------------------category-image style */
.post-img-parent{
    width: 100px;
    height: 100px;
    margin: auto;
}
.post-img {
    /*display: block;*/
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ section 4 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.section4 .row4-1 .col{
    text-align: center;
    font-family:Leyla;

}
.text-painting-style{
    padding-top: 34px;
}
.section4 .row4-1 p{
    font-size: 37px;/*not working...*/
    margin:0;
    color: #66826a;
}
.section4 .owl-theme{
    padding-top: 10px;
    /*background-color: green;*/
    direction: ltr;
    text-align: -webkit-center; /*love you*/

}
.owl-item{
    margin: 0 !important;
}
.section4 .owl-theme .item{
    /*background-color: greenyellow;*/

}
.section4 .img-father{
    width: 160px;
    height: 160px;
}
.section4 .image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/*.section4 .overlay {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}*/

.section4 .item:hover .overlay {
    /*height: 100%;*/
}
.section4 .text-header {
    color: #66826a;
    /* border-top: 2px solid #ffc336; */
    padding-top: 9px;
    /* font-size: 20px;
    /*position: absolute;
    top: 26%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;*/
}
/*-----------------------------------for hashtags-----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
    /*overflow: hidden;*/
    font-family: 'Work Sans', sans-serif;
    /*background-color: #1a284f;*/
    color: white;
}

.wrapper {
    padding: 20px 28px;
    /*margin: 0;*/
    margin: 48px 263px 42px 0px !important;
    width: 580px;
    background-color:#869791;
    color: #fef4e1;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    border: solid 2px white;
}

h3 {
    margin: 10px 14px 10px 0;
    font-weight: 300;
    font-size: 36px;
}

p {
    margin: 10px 10px;
    font-weight: 300;
    font-size: 14px;
    opacity: 0.8;
    letter-spacing: 1px;
}

input {
    border: none;
    border-radius: 12px;
    padding: 16px 20px;
    margin: 8px;
    width: 100%;
    color: #666;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    outline: none;
}

.tag-container {
    display: flex;
    flex-flow: row wrap;
}

.tag{
    pointer-events: none;
    background-color: #505d58;
    color: white;
    padding: 6px;
    margin: 5px;
}

.tag::before {
    pointer-events: all;
    display: inline-block;
    content: 'x';
    height: 20px;
    width: 20px;
    margin-right: 6px;
    text-align: center;
    color: #ccc;
    background-color: #505d58;
    cursor: pointer;
}

/*------------------------------last styling---------------------------------*/
.input-style{
    text-align: center;
    background: none !important;
}
.description-style{
    min-height: 130px;
}
/*--------------------------------remove category owl carousel and add scrollable category----------------------------------*/
.scroll-category{
    text-align: center;
    height: 176px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/*-------------------------------customize sidenav----------------------------------------------*/
.sidenav .all-sidenav:hover {
    color: #66826a !important;
    background-color: unset !important;

}
.sidenav .user {
    background-color: #66826a !important;
}
.sidenav .plus {
    background-color: #66826a !important;
}

.sidenav .heart {
    background-color: #66826a !important;
}

.sidenav .home {
    background-color: #66826a !important;
}

.sidenav .search {
    background-color: #66826a !important;
}

.sidenav .crown {
    background-color: #66826a !important;
}
.small-profile-img {
    border: 4px solid #66826a !important;
}
.sidenav .user-img {
    background-color: #66826a !important;
}

