/*body{*/
/*    overflow: visible !important;*/
/*}*/


/*-------------------------------my gallery grid responsive----------------------------------------------*/
.posts-box{
    margin-top: 100px;
}
.card-index{
    margin-bottom: 30px;
}
.post-img-parent{
    /*width: 300px;*/
    height: 300px;
}
.post-img {
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.a-tag-parent a{
    text-decoration: none !important;
    color: #303030;
}
.a-tag-parent .show-img-style:hover{
    color: #737272;
    background-color: #1b1e21;
}
.post-img-parent:hover{
    opacity: 0.9;
}
.card-index:hover{
    background-color: #f6f6f6;

}
