@font-face{
    font-family: IRSans;
    src: url(../fonts/IRANSansWeb\(FaNum\).ttf);
}
@font-face{
    font-family:Leyla;
    src: url(../fonts/leyla.ttf);
}

body{
    direction: rtl;
    font-family: IRSans;
    overflow:visible !important;
}
/*-------------------------------single post showing-------------------------------------------show.blade.php*/
.single-post-box
{
    margin: 23px 0px 25px 1px;
    direction: rtl;
    box-shadow: 1px 7px 20px #80808042;
}
.single-post-img {
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.single-post-img-parent{
    /*width: 300px;*/
    height: 400px;
}

.custom-like{
    /*margin-right: 28px;*/
    font-size: xx-large;
    color: lightgray;
}
.custom-dislike{
    /*margin-right: 75%;*/
    font-size: xx-large;
    color: lightgray;
}
.interaction{
    display: flex;
    justify-content: space-between;
}

/*-----------------------------post infos left col-md-6----------------------------------*/

.description-style {
    text-align: justify;
    margin: 25px;
    color: #747373;
}

.title-style {
    margin: 25px 10px 25px 10px;
    color: #869791;
    /*font-family: 'Leyla';*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-col-style{
    text-align: center;
    word-break: break-all;
}
/*----------------------------------------comments----------------------------------------------*/
.tab-2-style{
    overflow-y: scroll;
    overflow-x: hidden;
    /*width: 540px;*/
    height: 438px;
    padding: 10px;
}
.title-comment-style{
    color: #869791;
}
/*-----title*/
.comment-btn-parent span{
    transition: 0.3s;
    font-size: 24px;
    color: white;
    border-radius: 50%;
}
.comment-btn-parent .all-comment-btn:hover {
    color: #38c647;
    background-color: unset;

}
.comment-btn-parent .comment {
    background-color: #38c647;
    padding: 6px 12px 0px 12px;
}
/*-----title*/
/*-----reply*/
.reply-btn-parent{
    margin: 5px;
}
.reply-btn-parent span{
    transition: 0.3s;
    font-size: 24px;
    /*color: white;*/
    color: #80808099;
    border-radius: 50%;
}
.reply-btn-parent .all-reply-btn:hover {
    color: gray;

}
.reply-btn-parent .reply {
    /*color: #80808099;*/
    padding: 6px 12px 0px 12px;
}
/*-----reply*/
.comment-card{
    border: none;
    border-right: solid 8px #9fd1bf80;
    border-radius: unset;
}
.comment-card-header{
    border: none;
    padding: 6px 13px 6px 32px;
    background-image: linear-gradient( to left, #ecfaf580, #ffffff );
}
.comment-card-body{
    /*background-image: linear-gradient( to left, #9fd1bf80, #ffffff );*/
}

.profile-img-parent{
    width: 50px;
    height: 50px;
    /*margin-left: 5px;*/
}
.profile-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.header-card-infos{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;
}
.parent-comment{
    color: gray;
    font-size: 13px;
}
.delete-btn{
    background: none;
    border: none;
    font-size: 24px;
    color: #80808099;
}
/*fontawesom styling*/
.fa-parent-style{
    margin: 5px;
}
.fa-parent-style .fa-style:hover {
    color: gray;

}
.fa-style{
    background: none;
    border: none;
    font-size: 24px;
    color: #80808099;
}
/*fontawesom styling*/
.delete-edit-box{
    margin-right: auto;
}

/*-----------------------------------------edit form tab---------------------------------------------*/


.form-parent{
    margin-top: 30px;
}
.description-row {
    margin-top: 7px;
}
.description-row textarea{
    min-height: 200px;
}

/*------------------------------------------for hashtags-----------------------------------------*/
.plus {
    background-color: #a35d40;
    padding: 6px 10px 0px 10px;
}
.seprate-a .plus:hover {
    color: #a35d40 !important;
    background-color: unset;

}
.seprate-a{
    margin-top: 21px;
}
.seprate-a a{
    transition: 0.3s;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50% !important;
    color: white !important;
}
/*.list-group-hashtag {*/

/*}*/
/*.hashtag-row .list-group {*/
/*    flex-wrap: wrap !important;*/
/*    flex-direction: row !important;*/
/*}*/
/*.hashtag-row .list-group{*/
/*    width: 100%;*/
/*}*/
.hshtag-row  .list-group{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.hashtag-row .col-md-12{
    flex-wrap: wrap;
}
/*----------------------------------------------------for category tab-----------------------------------------------*/
.tab-4-style{
    overflow-y: scroll;
    overflow-x: hidden;
    /*width: 540px;*/
    height: 438px;
    padding: 10px;
}

.post-img-parent-large{
    width: 300px;
    height: 300px;
    margin: auto;
}
.post-img {
    /*display: block;*/
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.individual-title{
    text-align: center;
    margin-top: 15px;
}

.individual-body{
    text-align: center;
    /*margin: 55px 0px 55px 0px;*/
    margin: 15px;
}ّّ
.no-category-image-parent{
     width: 474px !important;
     height: 400px !important;
    /*background-color: red;*/
 }
 .no-category-image{
     width: 100%;
     height: 100%;
     display: block;
 }
/*--------------------------------------general---------------------------------------*/
.col-md-6{
     /*padding: 0 !important;*/
    padding-left:0px !important;
    padding-right:0px !important;
 }
.right-col-md-6{
     padding-left:0px !important;
     padding-right:0px !important;
    border-left: thin solid #8080803d;
 }
.left-col-md-6{
    padding-left:0px !important;
    padding-right:0px !important;
}
input{
    margin: 0 !important;
}
.card{
    border: 0 !important;
}
