/*body{*/
/*    overflow: visible !important;*/
/*}*/

/*-------------------------------section 1 sidenav----------------------------------------------*/
.sidenav a {
  position: fixed;
  right: 40px;
  transition: 0.3s;
  /* padding: 13px 13px 13px 13px; */
  /* margin: 45px; */
  /* width: 75px; */
  text-decoration: none;
  font-size: 18px;
  color: white;
  border-radius: 50%;
  z-index: 99;
}

.sidenav .all-sidenav:hover {
    color: #a35d40;
    background-color: unset;

}
.sidenav .plus {
  top: 58px;
  background-color: #a35d40;
  padding: 10px 15px 10px 15px;
}

.sidenav .heart {
  top: 120px;
  background-color: #a35d40;
  padding: 10px 14px 10px 14px
}

.sidenav .home {
  top: 180px;
  background-color: #a35d40;
  padding: 10px 13px 10px 13px;
}

.sidenav .search {
  top: 240px;
  background-color: #a35d40;
  padding: 11px 14px 11px 14px;
}

.sidenav .crown {
  top: 300px;
  background-color: #a35d40;
  padding: 10px 12px 10px 12px;

}

/*-------------------------------my gallery grid responsive----------------------------------------------*/
.posts-box{
    margin-top: 100px;
}
.card-index{
    margin-bottom: 30px;
}
.post-img-parent{
    /*width: 300px;*/
    height: 300px;
}
.post-img {
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.a-tag-parent a{
    text-decoration: none !important;
    color: #303030;
}
.a-tag-parent .show-img-style:hover{
    color: #737272;
    background-color: #1b1e21;
}
.post-img-parent:hover{
    opacity: 0.9;
}
.card-index:hover{
    background-color: #f6f6f6;

}
/*-------------------------------single post showing-------------------------------------------show.blade.php*/
.single-post-box
{
    margin-top: 100px;
    direction: rtl;
}
.single-post-img {
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.single-post-img-parent{
    /*width: 300px;*/
    height: 400px;
}

.custom-like{
    /*margin-right: 28px;*/
    font-size: xx-large;
    color: lightgray;
}
.custom-dislike{
    /*margin-right: 75%;*/
    font-size: xx-large;
    color: lightgray;
}
.interaction{
    display: flex;
    justify-content: space-between;
}

