/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
} */

/* Create four equal columns that sits next to each other */
/* .col-md-3 {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
} */

/* .col-md-3 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
} */

/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
  .col-md-3 {
    flex: 50%;
    max-width: 50%;
  }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .col-md-3 {
    flex: 100%;
    max-width: 100%;
  }
} */
/* -------------------------------------------------------------- */
/*-------------------------------section 1 sidenav----------------------------------------------*/
.sidenav a {
  position: fixed;
  right: 40px;
  transition: 0.3s;
  /* padding: 13px 13px 13px 13px; */
  /* margin: 45px; */
  /* width: 75px; */
  text-decoration: none;
  font-size: 18px;
  color: white;
  border-radius: 50%;
  z-index: 99;
}

.sidenav .all-sidenav:hover {
    color: #a35d40;
    background-color: unset;
  
}
.sidenav .plus {
  top: 58px;
  background-color: #a35d40;
  padding: 10px 15px 10px 15px;
}

.sidenav .heart {
  top: 120px;
  background-color: #a35d40;
  padding: 10px 14px 10px 14px
}

.sidenav .home {
  top: 180px;
  background-color: #a35d40;
  padding: 10px 13px 10px 13px;
}

.sidenav .search {
  top: 240px;
  background-color: #a35d40;
  padding: 11px 14px 11px 14px;
}

.sidenav .crown {
  top: 300px;
  background-color: #a35d40;
  padding: 10px 12px 10px 12px;
  
}
