

body{
    direction: rtl;
}
thead{
    text-align: center;
}

tbody{
    text-align: center;
}

/*create*/
.radios-parent{
    text-align: right;
}
.header-style{
    text-align: right;
    background-color: #add8e673;
    padding: 37px 0px 13px 0px;
}
.checkbox-style{
    text-align: right;
}
.form-check-label{

    margin-right: 32px;
    vertical-align: super;

}
.page-item {
    /* margin-right: 18px; */
    margin: 0px 0px 0px 8px;
}

/*edit*/
.tm-pen-icon:hover {
    color: #9f1321;
}
.tm-pen-icon {
    color: #6e6c6c;
    cursor: pointer;
}
.delete-btn{
    background: none;
    border: none;
}

/*search*/
.search-align{
    /*direction: initial;*/
}
.tm-search-icon:hover {
    /*color: #9f1321;*/
}
.tm-search-icon {
    color: #ffffff;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}
.search-parent{
    display: flex;
    flex-direction: row;
    height: 37px;
}

.search-input {
    /*border: thin solid rgba(255, 255, 255, 0.44);*/
    /*border-radius: 0px 16px 16px 0px;*/
    /*padding: 3px 24px 3px 3px;*/
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border: thin outset ;
    border-radius: 5px 5px 15px 15px;
    border-top: none;
}
.search-btn{
    background: #e57777;
    /* border: thin solid #00000070; */
    border: white;
    border-radius: 25%;
    /* padding: 10px; */
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.search-btn:hover {
    /*border: thin solid #9f1321;*/
    /*background-color: lightgray;*/
    background: #f54545;

}

/*select option role*/
.select-role{
    background: none;
    border: thin outset ;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px 5px 15px 15px;
    border-top: none;
}
/*select option email*/
.email-state{
    background: none;
    border: thin outset ;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px 5px 15px 15px;
    border-top: none;
}

/*drop down navbar*/
.dropdown-style-btn{
    background-color: white;
}


