

body{
    direction: rtl;
}
thead{
    text-align: center;
}

tbody{
    text-align: center;
}

/*create*/
.radios-parent{
    text-align: right;
}
.header-style{
    text-align: right;
    background-color: #add8e673;
    padding: 37px 0px 13px 0px;
}
.checkbox-style{
    text-align: right;
}
.form-check-label{

    margin-right: 32px;
    vertical-align: super;

}
.page-item {
    /* margin-right: 18px; */
    margin: 0px 0px 0px 8px;
}

/*edit*/
.tm-pen-icon:hover {
    color: #9f1321;
}
.tm-pen-icon {
    color: #6e6c6c;
    cursor: pointer;
}
.delete-btn{
    background: none;
    border: none;
}

/*search*/
.search-align{
    /*direction: initial;*/
}
.tm-search-icon:hover {
    /*color: #9f1321;*/
}
.tm-search-icon {
    color: #ffffff;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}
.search-parent{
    display: flex;
    flex-direction: row;
    height: 37px;
}

.search-input {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #e57777;
    border-radius: 11px 11px 11px 11px;
}
.search-btn{
    background: #e57777;
    /* border: thin solid #00000070; */
    border: white;
    border-radius: 25%;
    /* padding: 10px; */
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.search-btn:hover {
    /*border: thin solid #9f1321;*/
    /*background-color: lightgray;*/
    background: #f54545;

}

/*select option role*/
.select-role{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 11px 11px 11px 11px;
    color: #727272;
    border: solid #e57777;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: black;
}
/*select option email*/
.email-state{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 11px 11px 11px 11px;
    color: #727272;
    border: solid #e57777;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: black;
}

/*drop down navbar*/
.dropdown-style-btn{
    background-color: white;
}
/*-------------------------------------------------category-image style */
.post-img-parent{
    width: 100px;
    height: 100px;
    margin: auto;
}
.post-img {
    /*display: block;*/
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
th{
    border: none !important;
}
td{
    border: none !important;
    vertical-align: middle !important;
}
.d-flex{
    justify-content: center;
}
/*category same height columns*/

/*.flex-parent{*/
/*    !*display: flex;*!*/
/*}*/

/*.flex-child{*/
/*    !*flex:1;*!*/
/*}*/

/*individual show*/
.post-img-parent-large{
    width: 300px;
    height: 300px;
    margin: auto;
}

.individual-title{
    text-align: center;
    margin-top: 15px;
}

.individual-body{
    text-align: justify;
    margin: 55px 0px 55px 0px;
}
/*------------tooltip text boxes-------------not working*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*-------------------------------drop down without link---------------------------------*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

/*    customize   */
    bottom: 0px;
    right: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*-----------------------------------change default tooplate--------------------------------------*/
.table td, .table th {
    padding: 9px 9px;
}
.btn-small {
    padding: 5px 15px;
}

/*----------------------------------------show categories collapsible--------------------------------------------*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    /* background-color: #eee; */
    /* color: #444; */
    cursor: pointer;
    /* padding: 18px; */
    /* width: 100%; */
    border: none;
    /* text-align: left; */
    outline: none;
/* font-size: 15px;*/
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 8px 0px 0px 0px;
    display: none;
    overflow: hidden;
    /* background-color: #f1f1f1; */
    text-align: left;
}
/*add icons*/
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: left;
    /*margin-left: 5px;*/
    margin-right: 5px;
}

.active:after {
    content: "\2212";
}

/*ul li category*/
.category-ul{
    background: whitesmoke;
    text-align: right;
    font-size: 13px;
}

/*--------------------------------modal category-----------------------------------*/
.modal-header .close {
    padding: 1rem;
    margin: -1rem auto -1rem -1rem;
}

.list-group {
    padding: 0;
}
