

body{
    direction: rtl;
}
thead{
    text-align: center;
}

tbody{
    text-align: center;
}

/*create*/
.radios-parent{
    text-align: right;
}
.header-style{
    text-align: right;
    background-color: #add8e673;
    padding: 37px 0px 13px 0px;
}
.checkbox-style{
    text-align: right;
}
.form-check-label{

    margin-right: 32px;
    vertical-align: super;

}
.page-item {
    /* margin-right: 18px; */
    margin: 0px 0px 0px 8px;
}

/*edit*/
.tm-pen-icon:hover {
    color: #9f1321;
}
.tm-pen-icon {
    color: #6e6c6c;
    cursor: pointer;
}
.delete-btn{
    background: none;
    border: none;
}

/*search*/
.search-align{
    direction: initial;
}
.tm-search-icon:hover {
    color: #9f1321;
}
.tm-search-icon {
    color: #6e6c6c;
    cursor: pointer;
    padding: 0 10px 0 10px;
}
.search-parent{
    display: flex;
    flex-direction: row;
    height: 37px;
}
.search-btn{
    background: none;
    border: thin solid #00000070;
    /*border-radius: 16px 0px 0px 16px;*/
    cursor: pointer;
}
.search-input {
    border: thin solid #00000070;
    /*border-radius: 0px 16px 16px 0px;*/
    padding: 3px 24px 3px 3px;
    text-align: center;
}
.search-btn:hover {
    border: thin solid #9f1321;
    background-color: lightgray;
}

/*select option role*/
.select-role{
    background: none;
    border: none;
    cursor: pointer;
}
/*select option email*/
.email-state{
    background: none;
    border: none;
    cursor: pointer;
}


/*drop down*/
.dropbtn {
    background-color: #fafafa;
    /*color: white;*/
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color:lightgray;}
